<!-- banner image -->
<div class='flex flex-col w-full border-b border-gray-700'>
  <div class='px-2 mt-8 bg-zinc-950 md:px-14 '>
    <div class='border-l border-r border-gray-700 bg-zinc-950 '>
      <div class='p-px overflow-hidden bg-gradientTopRight ring-1 ring-gray-700'>
        <div class='flex items-end justify-end h-24 px-4 py-2 space-x-4 border-gray-700 md:h-48 text-slate-100 '>
          <!-- when the music stops -->
        </div>
      </div>
    </div>
  </div>
</div>
