<div class='flex w-full border-b bg-zinc-950 border-b-gray-700 px-14 h-24'>
  <div class='flex flex-row w-full space-x-4 mx-auto border-gray-700 border-r border-l justify-between items-center py-2 px-4 text-slate-100'>
    <div>
      Forum Index
    </div>
    <div>
      Forum Index
    </div>
  </div>
</div>
<div class='flex w-full border-b bg-zinc-950 border-b-gray-700 px-14 h-8'>
</div>
