<nav class='fixed w-full z-20 top-0 left-0 border-b bg-zinc-950 border-b-gray-700 px-14'>
  <div class='flex flex-row space-x-4 border-gray-700 border-r border-l mx-auto items-center justify-between py-2 px-4 text-slate-100'>
    <div>
      <%= link_to 'when the music stops', root_path%>
    </div>
    <div class='flex flex-row space-x-4 '>
      <div>
        Login
      </div>
      <div>
        Sign up
      </div>
    </div>
  </div>
</nav>
